/* footer style */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
}

/* footer text style */
.footer p {
	color: #7c7c7d;
}

.navbar {
	background-color: white;
	height: 50px;
}

#slideshow {
	width: 80%;
	margin: auto;
}

.carousel.slide {
	width: 100%;
	margin: auto;
}

li.dropdown:hover > .dropdown-menu {
	display: inline;
	border-top: none;
	border-radius: 0;
	margin-top: 10px;
}

#link1 {     
	display: inline-block;     
	position: relative;    
	padding-bottom: 1em;     
	margin-bottom: -2em; 
}

#link2 {     
	display: inline-block;     
	position: relative;    
	padding-bottom: 1em;     
	margin-bottom: -2em; 
}

.nav-item {
	margin-top: -5px;
	margin-bottom: -5px;
}